@import "./resets.css";
@import "./variables.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color-scheme: dark;
  font-weight: var(--font-weight-regular);
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

html[data-side="good"] {
  background-size: cover;
  background: url("/goodside_background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
html[data-side="evil"] {
  background-size: cover;
  background: url("/evilside_background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

body {
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border: none;
  font-size: 14px;
  padding: 8px 12px;
  background: var(--blue-900);
  color: var(--yellow-500);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-medium);
}

span,
p {
  font-size: var(--font-size-body-sm);
}

button {
  all: unset;
}
