.CommanderName {
  color: var(--yellow-primary);
  margin-bottom: var(--space-75);
  margin-left: -2px;
}

.StatsList {
  display: flex;
  flex-direction: column;
  width: 100%;

  li {
    padding: var(--space-25) 0;
    border-bottom: 1px solid var(--yellow-900);
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    justify-content: space-between;
  }
}
